* {
  outline: 0;
}
body {
  margin: 0;
}
#text {
  width: 40%;
  height: 25vh;
  margin-left: 30%;
  resize: none;
}
#fname {
  height: 4%;
  width: 20%;
  margin-left: 40%;
  margin-top: 10px;
}
#btndownload {
  border: none;
  height: 4%;
}
