body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 0;
}
.wrapper {
  width: 50%;
  height: 100vh;
  background: #63c4ff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  float: left;
  &:nth-child(2) {
    background: white;
    position: relative;
    overflow-y: scroll;
  }
}
.txtbox {
  width: 80%;
  height: 30%;
  outline: none;
  font-size: 200%;
  resize: none;
  overflow: hidden;
  padding: 35px;
  border: 0;
  &:nth-child(2) {
    margin-top: 2%;
    // border-top-left-radius: 18px;
    // border-top-right-radius: 18px;
    background: #a56efd60;
    color: #daff03;
  }
  &:nth-child(4) {
    // border-bottom-left-radius: 18px;
    // border-bottom-right-radius: 18px;
    background: #f8ffc0;
  }
}
#btn {
  margin-top: 2%;
  margin-left: 60%;
  width: 20%;
  height: 5%;
  border: 0;
  background: #c0ff5a;
  color: #73a81d;
}
